/* O "*" adiciona aquele CSS em tudo do site */
*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.div1 {
    background-color: #08158F;
    position: relative;
    width: 100%;
    height: 100px;
    
    
}

.div2{
    background-color: #1A2CD7;
    position: relative;
    width: 100%;
    height: 30px;
}

#nav {
    width: 100%;
    height: 50px;
    background-color: #1A2CD7;
    text-align: center;
}

#nav a {
    color: white;
    text-decoration: none;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#estadao{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.0em;
    text-align: center;
    position: relative;
    top: 20%;
}

.img1 {
    border-radius: 10px;
    position: relative;
    width: 40%;
    top: 60px;
    left: 8%;
}

.divtext1{
    position: relative;
    width: 90%;
    left: 10%;
    top: -20px;
    color: white;
    font-size: 1.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img2 {
    border-radius: 10px;
    position: relative;
    width: 40%;
    left: 8%;
    top: 30px;

}

.divtext2 {
    position: relative;
    left: 10%;
    top: -50px;
    color: white;
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
}

.divesq {
    background-color: #08158F;
    width: 5%;
    height: 1000px;
    position: relative;


}

.divdir {
    background-color: #08158F;
    width: 5%;
    height: 1000px;
    position: relative;
    left: 95%;
    top: -1000px;

}

.divrodape {
    background-color: #08158F;
    width: 100%;
    height: 50px;
    top: -1000px;
    position: relative;
    

}

/* Smartphone */
@media screen and (max-width: 576px) {
   .img1 {
    width: 80%;
   }
   .divtext1 {
    font-size: 0.8em;
    top: 8px;
   }
   .img2 {
    width: 80%;
   }
   .divtext2 {
    font-size: 0.8em;
    top: -25px;
   }
}

/* Tablet e Ipad */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .img1 {
        width: 80%;
    }
    .img2 {
        width: 80%;
    }
}