h1 {
    font-family:"Lucida Sans"; font-size: 30px; background-color: #8F0000; width: 16%; 
    border-radius: 8px; text-align: center;
}

h3 {
    font-family: "Lucida Sans"; font-size: 20x; background-color: #8F0000; width: 16%; 
    border-radius: 8px; text-align: center;
}

h4 {
    font-family:"Lucida Sans"; font-size: 15px; background-color: #8F0000; width: 50%; 
    border-radius: 8px; text-align: center;
}

p {
    font-family: "Lucida Sans";
}

h2 {
    font-family: 'Lucida Sans';
}

.indexedit {
    height: 190px;
    width: 400px;
    background-color: #922830;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.titulos {
    margin-left: 500px;
    font-size: 75px;
    height: 100px;
    width: 1000px;
    margin: 10px;
    background-color: #8F0000;
}

#menus1 {
    font-size: 35px;
    text-align: left;
    margin-top: 100px;
    background-color: #922830; width: 50%;
    border-radius: 8px;
    font-family:"Lucida Sans";    
}

#menus2 {
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-left: 510px;
    background-color: #922830; width: 50%; 
    border-radius: 8px;
    font-family:"Lucida Sans";
}

#menus3 {
    font-size: 35px;
    margin-top: 100px;
    margin-left: 440px;
    background-color: #922830; width: 50%; 
    border-radius: 8px;
    font-family:"Lucida Sans";
}

#subtitulo1 {
    margin-left: 63px;
    margin-top: 50px;
    margin-right: 1300px;
}

#subtitulotext1 {
    margin-right: 100px;
    height: 190px;
    width: 400px;
    background-color: #922830;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
}

#subtitulo2 {
    margin-left: 63px;
    margin-top: 50px;
    margin-right: 1300px;
}
